html {
  min-height: 100%;
}

body {
  display: flex;
  justify-content: center;
}

.hiscore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  min-width: 50%;
  background-color: #8ec4d0;
  border: 1px solid;
}

.board-title {
  text-align: center;
}

.player, .selectors {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid;
}

p {
  min-width: 33%;
  text-align: center;
}
